<!-- CHAT -->
    <div class="container mt-3">
        <div class="jumbotron">
            <form action="">
                <div class="form-group">
                    <label for="mail"><b> Mail de Usuario</b></label>
                    <input class="form-control" type="mail" name="mail" id="mail" placeholder="nombre@nombre.com" aria-describedby="userComment">
                    <small id="userComment">Usuario que se utilizará al enviar el msj</small>
                </div>
                <div class="form-group">
                    <label for="contenidoMensaje"><b>Mensaje:</b></label>
                    <textarea class="form-control" name="" id="contenidoMensaje" cols="30" rows="5">Ingrese un mensaje</textarea>
                </div>
                <button class="btn btn-success" onclick="enviarMensaje()">Enviar</button>
            </form>
        </div>
        <hr>

            <h3 id="" class="">MENSAJES</h3>

            <div id="historialChat">

            </div>
            
        </div>
    </div>