<div class="container">
    <div class="jumbotron">
        <h2>CENTRO DE MENSAJES</h2>
        <form action="">
            <div class="form-group">
                <label for="mail"><b>mail de usuario</b> </label>
                <input class="form-control" type="mail" name="mail" id="mail" placeholder="mail@mail.com">
            </div>
            <div class="form-group">
                <label for="msg"><b>Ingrese su mensaje</b> </label>
                <textarea class="form-control" name="msg" id="msg" cols="30" rows="5">Ingrese su mensaje</textarea>
            </div>
            <button class="btn btn-success" onclick="enviarMensaje()">Enviar</button>
        </form>
        <hr>
        <div id="chat"></div>
    </div>
</div>